@charset "UTF-8";
/*css初始化*/
html, body, ul, li, p, h1, h2, input, button, img {
    margin: 0;
    padding: 0;
}
img, input, button {
    border: none;
    outline-style: none;
}
input {
    vertical-align: middle;
}
ul {
    list-style: none;
}
img {
    vertical-align: middle;
}
a {
    text-decoration: none;
}
body {
    font-family: Arial, Verdana, "\5FAE\8F6F\96C5\9ED1", "\5b8b\4f53";

    color: #666666;

    background-color: #f8f8f8;
}
h1, h2 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}
i {
    font-style: normal;
    text-decoration: none;
}
/*公共类*/
.w {
    width: 1206px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}