.expand {
    position: absolute;

    width: 485px;
    height: 242px;

    color: #808080;

    background: url(../images/expand-bg.png) no-repeat;

    z-index: 999;
}
.expand-top img {
    margin: 13px 19px 0 14px;
    width: 223px;
    height: 124px;
}
.expand-top div.fl {
    margin-top: 17px;

    font-size: 12px;
    line-height: 12px;
}
.expand-top h2 {
    width: 226px;

    font-size: 18px;
    line-height: 18px;

    color: #333;
}
.expand-top .learn-count {
    margin-top: 17px;
}
.expand-top i {
    display: inline-block;

    margin-right: 3px;

    width: 100%;
    height: 17px;

    background: url(../images/people-icon.png) no-repeat;
}
.expand-top span {
    display: inline-block;

    line-height: 17px;

    margin-left: 16px;
}
.expand-top .provider {
    margin: 13px 0 8px 0;
}
.expand-description {
    position: absolute;
    bottom: 2px;

    padding: 17px 35px 0 24px;

    height: 63px;

    font-size: 14px;
    line-height: 24px;

    overflow: hidden;
}