/*导航区域*/
.nav {
    height: 89px;

    background-color: #fff;
}
/*导航左侧logo区*/
.nav .fl {
    font: 12px/89px SimSun;
}
.logo {
    cursor: pointer;
}
.follow {
    margin: 0 14px 0 30px;
    padding: 4px 9px;

    color: #fff;

    background: url(../images/follow-bg.png) no-repeat;

    cursor: pointer;
}
.followed {
    display: none;

    margin: 0 14px 0 30px;
    padding: 4px 7px 5px 22px;

    background: url(../images/followed.png) no-repeat;
}
.french-gray {
    color:#ccc;
}
.followed a {
    color: #999;
}
.followed a:hover {
    color: #21a557;
    text-decoration: underline;
}
.follow i {
    display: inline-block;

    margin-right: 5px;
    width:8px;
    height: 8px;

    background: url(../images/add.png) no-repeat;
}
/*导航右侧*/
.nav-list li {
    margin-left: 54px;
}
.nav-list .fl{
    font: 16px/89px HiraginoSansGB, Microsoft YaHei, SimSun;
}
.nav-list .nav-search {
    margin-left: 30px;
}
.nav-list a {
    color: #666666;
}
.nav-list a:hover {
    color: #39a030;
}
.nav-search-icon {
    display: block;

    margin: 35px 16px 0 0;
    width: 19px;
    height: 19px;

    background: url(../images/search.png) no-repeat;
}
.nav-search-icon:hover {
    background: url(../images/search-hover.png) no-repeat;
}
/*轮播图*/
.slider-out {
    background-color: #fff;
}
.slider {
    position: relative;

    margin: 0 auto;

    overflow: hidden;
}
.slider ul {
    position: absolute;
    left: 0;
    top: 0;
}
.slider ul li {
    cursor: pointer;
}
.slider .pointer {
    position: absolute;
    bottom: 20px;
    left: 50%;

    height: 10px;
}
.slider .pointer i {
    display: inline-block;

    margin: 0 6px;

    width: 10px;
    height: 10px;

    cursor: pointer;

    background: url(../images/slider-normal.png) no-repeat;
}
/*产品展示部分*/
.product-show {
    width: 100%;
    height: 297px;

    font-size: 14px;
    line-height: 14px;

    background-color: #fff;
}
.product-show li {
    width: 402px;
}
.product-show i {
    display: block;

    margin:67px 19px 0 5px;

    width: 80px;
    height: 80px;
}
.product-content {
    width: 238px;
}
.open-course {
    background: url(../images/opencourse.png) no-repeat;
}
.cloud-class {
    background: url(../images/cloudclass.png) no-repeat;
}
.chinese-mooc {
    background: url(../images/chinesemooc.png) no-repeat;
}
.product-title {
    margin-top: 61px;

    font-size: 22px;
    line-height: 22px;

    color: #333333;
}
.product-summary {
    margin: 16px 0 29px 0;

    line-height: 24px;
}
.product-link {
    color: #39a030;
}
.product-link:hover {
    text-decoration: underline;
}
/*图片展示区*/
.pic-area {
    margin: 0 auto;

    width: 1620px;
}
.pic-area li + li {
    margin-left: 4px;
}
/*主体部分*/
.main {
    margin-top: 84px;
}
/*主体核心区域*/
.content {
    width: 980px;
}
/*类别*/
.course-category {
    margin-bottom: 10px;
    padding:0 1px;

    width: 400px;
    height: 52px;

    font-size: 20px;

    background: url(../images/tab.png) no-repeat;
}
.course-category li {
    width: 200px;
    height: 50px;

    line-height: 50px;

    text-align: center;

    cursor: pointer;
}
.selected {
    color: #fff;

    background-color: #39a030;
}
/*详情*/
.detail {
    margin: 17px 18px 0 0;

    width: 227px;
    height: 230px;

    font-size: 12px;
    line-height: 12px;

    background: url(../images/detail-bg.png) no-repeat;
}
.expand-position {
    position: relative;

    padding: 1px 2px 0 2px;

    width: 223px;
    height: 229px;
}
.detail img {
    margin-bottom: 9px;

    width: 223px;
    height: 124px;
}
.detail-text {
    margin: 0 10px 0 4px;
}
.description {
    display: block;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #7a7a7a;
}
.detail-text .provider {
    display: block;

    margin: 10px 0;

    color: #b6b6b6;
}
.detail-text i {
    display: inline-block;

    padding-right: 3px;

    height: 17px;

    border: 1px solid #b6b6b6;
    border-radius: 3px;

    background: url(../images/people-icon.png) no-repeat;
}
.detail-text .learn-count {
    margin-left: 16px;

    line-height: 17px;
}
.price {
    display: block;

    margin-top: 10px;

    color: #ff3f00;
}
/*页码*/
.page-number {
    margin: 30px 18px 120px 0;

    font-size: 14px;
    text-align: center;
}
.page-number li {
    margin-left: 7px;

    width: 20px;
    height: 20px;

    line-height: 20px;

    cursor: pointer;
}
.page-number .page-first, .page-number .page-last {
    width: 30px;

    color: #fff;

    background-color: #9dd8b1;
}
.page-selected {
    color: #39a030;
}
.page-number li:hover {
    color: #fff;

    background-color: #9dd8b1;
}
/*排行榜、视频等区域*/
.content-right {
    width: 225px;

    font-size: 14px;
    line-heigh: 14px;
}
.content-right h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 56px;

    color: #333;
}
.introduce {
    margin-bottom: 19px;
    padding: 0 22px 0 23px;

    width: 180px;
    height: 231px;

    background: url(../images/video.png) no-repeat;
}
.introduce-video {
    margin-top: 21px;

    cursor: pointer;
}
.video-bg {
    margin-top: 9px;
    padding-top: 27px;

    width: 180px;
    height: 110px;

    text-align: center;

    background: url(../images/video-bg.jpg) no-repeat;
}
.video-bg i {
    display: inline-block;

    width: 46px;
    height: 46px;

    background: url(../images/video-btn.png) no-repeat;
}
.hots {
    padding: 0 22px 0 23px;

    width: 180px;
    height: 780px;

    background: url(../images/hot.png) no-repeat;
}
.hot-courses {
    position: relative;

    margin-top: 20px;

    width: 180px;
    height: 700px;

    overflow: hidden;
}
.hot-courses ul{
    position: absolute;
    top: 0;
    left: 0;

    width: 180px;
    height: 1400px;
}
.hot-courses li {
    width: 180px;
    height: 70px;
}
.hot-courses li .img, .hot-courses li img {
    width: 50px;
    height: 50px;
}
.hot-courses li img {
    width: 50px;
    height: 50px;
}
.hot-courses li .content {
    padding-left: 12px;
    width: 118px;
    height: 70px;
}
.hot-courses li h2 {
    font-size: 14px;
    line-height: 14px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis ;
}
.hot-courses li .content i {
    display: inline-block;

    margin-top: 8px;

    height: 17px;

    background: url(../images/people-icon.png) no-repeat;
}
.hot-courses li .content i span {
    margin-left: 16px;

    line-height: 17px;
}
/*底部*/
.footer {
    width: 100%;
    height: 262px;

    font-size: 12.5px;
    color:#bebfc0;

    line-height: 26px;

    background-color: #2c3339;
}
/*左侧版权、备案信息相关*/
.copyright {
    margin: 92px 0 0 49px;
}
.record {
    margin-top: 26px;
}
/*右侧各类链接*/
.links {
    margin: 81px 203px 0 0;
}
.links li ul {
    font-size: 16px;

    line-height: 28px;
}
.links li ul li {
    cursor: pointer;
}
.links li ul li:hover {
    text-decoration: underline;
}
.friends-link {
    margin-right: 98px;
}
.about-us {
    margin-right: 70px;
}
.weibo-icon {
    display: inline-block;

    margin-left: 10px;

    width: 20px;
    height: 16px;

    background: url(../images/weibo.png) no-repeat;
}